In [2]:
import requests
import pandas as pd
import re
from sqlalchemy import create_engine, inspect, text
import matplotlib.pyplot as plt
from abc import abstractmethod
from itertools import combinations
from dataclasses import dataclass
from backtesting import Backtest, Strategy
import numpy as np
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
import seaborn as sns
from dotenv import load_dotenv
import os
load_dotenv()
api_key = os.getenv('api_key')

##### Custom Order Management

In [2]:
class OrderManagementSystem:
    def __init__(self,slippage=0.01, commission=0.001, constraints=None):
        #self.orders is an array of type orders classes)
        self.orders = []
        self.changeConstraints(constraints)
        self.slippage = slippage  # Percentage slippage on each order
        self.commission = commission  # Percentage commission on each order
        

    
    def changeConstraints(self, constraints):
        """
        Change the constraints of the order management system.
        """
        self.constraints = constraints
        self.stopLoss = constraints['stopLoss']
        self.takeProfit = constraints['takeProfit']
        self.shortOnly = constraints['shortOnly']
        self.longOnly = constraints['longOnly']
        self.holdingPeriod = constraints['holdingPeriod']
        print(f"✅ Constraints updated: {self.constraints}")
        
    def initWorkingData(self, columns):
        """
        Initialize the working data DataFrame with specified columns.
        Working data is used to store the results of the strategy execution
        and historical ticker data
        """
        self.workingData = pd.DataFrame(columns=columns)
        print("✅ Working data initialized with columns:", columns)
        
    def addRow (self, row):
        """
        Add a row to the working data DataFrame.
        """
        self.workingData = pd.concat([self.workingData, pd.DataFrame([row])], ignore_index=True)
        self.checkOpenOrders()
        
    def shouldLiquidate(self, order):
        """
        Check if an order should be liquidated based on stop loss or take profit conditions.
        """
        last_row = self.workingData.iloc[-1]
        ticker = order['ticker']
        
        if order['stopLoss'] is not None and last_row[f'{ticker}_close'] <= order['stopLossPrice']:
            print(f"❗ Liquidating {order['signal']} order for {ticker} due to stop loss.")
            self.liquidateOrder(order)
            return True
        
        if order['takeProfit'] is not None and last_row[f'{ticker}_close'] >= order['takeProfitPrice']:
            print(f"❗ Liquidating {order['signal']} order for {ticker} due to take profit.")
            self.liquidateOrder(order)
            return True
        
        return False
    
    def liquidateOrder(self, order):
        """
        Liquidate an order by removing it from the open orders list.
        This method can be called when a stop loss or take profit condition is met.
        Need to implement the logic to remove the order from the orders list.
        Need to implement the logic to update the working data with the liquidation details.
        Need to implement the logic to reverse order position in the working data.
        """
        print(f"✅ Liquidated order: {order}")
        
        # Update working data with liquidation details
        last_row = self.workingData.iloc[-1]
        ticker = order['ticker']
        orderPosition = order['position']
        # Adjust the position in workingData to reflect liquidation
        # Find the current position for the ticker in the last row
        current_position = last_row.get(f'{ticker}_position', 0)
        # Set the new position to zero (fully liquidated)
        newPosition = current_position - orderPosition +self.slippage + self.commission
        
        #update the working data with the new position
        self.workingData.at[last_row.name, f'{ticker}_position'] = newPosition
            
        
    def checkOpenOrders(self):
        """
        Check if there are any open orders that need to be executed.
        This method can be called after adding a new row to the working data.
        """
        if not self.orders:
            print("✅ No open orders to check.")
            return
        
        for order in self.orders:
            #a simple order is when stopLoss and takeProfit are None
            if order['stopLoss'] is None and order['takeProfit'] is None or order['expired']:
                continue
            
            self.shouldLiquidate(order)
            order['expired'] = True
        
    def addOrder(self, signal):
        finalOrder = self.ExecuteOrder(signal)
        if finalOrder is not None:
            self.orders.append(finalOrder)
        
    def calculateRollingMetrics(self, idx, ticker, position, return_of_stock, return_of_strategy, complex=False):
        if complex:
            self.workingData.at[idx, f'{ticker}_position'] = position
            self.workingData.at[idx, f'{ticker}_return_of_stock'] = return_of_stock
            self.workingData.at[idx, f'{ticker}_return_of_strategy'] = return_of_strategy
        else:
            self.workingData.at[idx, f'{ticker}_position'] = position
            self.workingData.at[idx, f'{ticker}_return_of_stock'] = return_of_stock
            self.workingData.at[idx, f'{ticker}_return_of_strategy'] = return_of_strategy
            
        # Add rolling metrics
        window = 20 
        
        if len(self.workingData) >= window:
            recent = self.workingData.iloc[-window:]
            sharpe = (
                recent[f'{ticker}_return_of_strategy'].mean() /
                recent[f'{ticker}_return_of_strategy'].std()
                if recent[f'{ticker}_return_of_strategy'].std() != 0 else np.nan
            )
            volatility = recent[f'{ticker}_return_of_strategy'].std()
            cov = recent[[f'{ticker}_return_of_strategy', f'{ticker}_return_of_stock']].cov().iloc[0, 1]
            var_stock = recent[f'{ticker}_return_of_stock'].var()
            beta = cov / var_stock if var_stock != 0 else np.nan

            self.workingData.at[idx, f'{ticker}_rolling_sharpe'] = sharpe
            self.workingData.at[idx, f'{ticker}_rolling_volatility'] = volatility
            self.workingData.at[idx, f'{ticker}_rolling_beta'] = beta
    
        
            
    def executeOrder(self, Signal):
        signal = Signal['signal']
        ticker = Signal['ticker']
        
        if signal != 'close':
            #checking for long or short only constraints
            if self.longOnly and signal == 'sell':
                print("❌ Long only constraint violated. Cannot execute sell order.")
                return None
            if self.shortOnly and signal == 'buy':
                print("❌ Short only constraint violated. Cannot execute buy order.")
                return None
        
        
        last_row = self.workingData.iloc[-1]
        confidence = Signal.get('confidence', 1)
        if signal== 'close':
            confidence = 1
        position = ((confidence * (1 if signal == 'buy' else -1)) * (1-(self.slippage+self.commission))) if signal != 'close' else 0
        
        return_of_stock = last_row[f'{ticker}_close'] / last_row[f'{ticker}_open'] - 1
        return_of_strategy = return_of_stock * position

        idx = last_row.name
        
        self.calculateRollingMetrics(idx, ticker,position,  return_of_stock, return_of_strategy)
        if self.stopLoss is not None:
            stopLossPrice = last_row[f'{ticker}_open'] * (1 - self.stopLoss) if signal == 'buy' else last_row[f'{ticker}_open'] * (1 + self.stopLoss)
            expired = False
        else:
            stopLossPrice = None
            expired = True
        if self.takeProfit is not None:
            takeProfitPrice = last_row[f'{ticker}_open'] * (1 + self.takeProfit) if signal == 'buy' else last_row[f'{ticker}_open'] * (1 - self.takeProfit)
            expired = False
        else:
            takeProfitPrice = None
            expired = True
        order = {
            'ticker': ticker,
            'signal': signal,
            'position': position,
            'confidence': confidence,
            'idx': idx,
            'stopLoss': self.stopLoss,
            'takeProfit': self.takeProfit,
            'stopLossPrice': stopLossPrice,
            'takeProfitPrice': takeProfitPrice,
            'expired': expired,
        }
        return order
        
            
        
    def ExecuteOrder(self, signal):
        order = self.executeOrder(signal)
        if order is not None:
            return order
        else:
            return None

##### Database

In [ ]:
class PostgresManager:
    def __init__(self, host, port, dbname, user, password):
        self.db_params = {
            'host': host,
            'port': port,
            'dbname': dbname,
            'user': user,
            'password': password
        }
        self.engine_str = (
            f"postgresql://{user}:{password}@{host}:{port}/{dbname}"
        )
        self.engine = create_engine(self.engine_str)
        print("✅ PostgreSQL connection initialized.")

    def upload_dataframe(self, df: pd.DataFrame, table_name: str, if_exists='replace'):
        """
        Uploads a DataFrame to PostgreSQL.
        - if_exists: 'replace', 'append', or 'fail'
        """
        try:
            df.to_sql(table_name, self.engine, if_exists=if_exists, index=False, method='multi')
            print(f"✅ Data uploaded to table '{table_name}'.")
        except Exception as e:
            print(f"❌ Failed to upload to '{table_name}': {e}")
    
    def getTicker30MinData(self, ticker: str) -> pd.DataFrame:
        """
        Retrieves 30-minute interval data for a given ticker from PostgreSQL
        """
        table_name = f"{ticker.upper()}_30MinData"
        try:
            query = f"SELECT * FROM \"{table_name}\""
            df = pd.read_sql_query(query, self.engine)
            
            # Convert 'date' column to datetime and set as index
            if 'date' in df.columns:
                df['date'] = pd.to_datetime(df['date'])
                df.set_index('date', inplace=True)
                df.sort_index(inplace=True)
                print(f"✅ Retrieved {len(df)} rows of 30-min data for {ticker}")
            else:
                print(f"❌ 'date' column missing in table {table_name}")
            return df
        except Exception as e:
            print(f"❌ Failed to fetch data for {ticker}: {e}")
            return pd.DataFrame()
    def getTickerEODData(self, ticker: str) -> pd.DataFrame:
        """
        Retrieves EOD data for a given ticker from PostgreSQL
        """
        table_name = f"{ticker.upper()}_EOD_Data"
        try:
            query = f"SELECT * FROM \"{table_name}\""
            df = pd.read_sql_query(query, self.engine)
            
            # Convert 'date' column to datetime and set as index
            if 'date' in df.columns:
                df['date'] = pd.to_datetime(df['date'])
                df.set_index('date', inplace=True)
                df.sort_index(inplace=True)
                print(f"✅ Retrieved {len(df)} rows of EOD data for {ticker}")
            else:
                print(f"❌ 'date' column missing in table {table_name}")
            return df
        except Exception as e:
            print(f"❌ Failed to fetch data for {ticker}: {e}")
            return pd.DataFrame()
        
    def get_tickers_from_30min_tables(self):
        """
        Extracts all tickers from tables that match the {ticker}_30MinData format.
        """
        try:
            inspector = inspect(self.engine)
            all_tables = inspector.get_table_names()
            pattern = re.compile(r'^(.*)_30MinData$', re.IGNORECASE)
            tickers = [match.group(1).upper() for table in all_tables if (match := pattern.match(table))]
            return tickers
        except Exception as e:
            print(f"❌ Failed to inspect tables: {e}")
            return []
    def get_tickers_from_EOD_tables(self):
        """
        Extracts all tickers from tables that match the {ticker}_30MinData format.
        """
        try:
            inspector = inspect(self.engine)
            all_tables = inspector.get_table_names()
            pattern = re.compile(r'^(.*)_EOD_Data$', re.IGNORECASE)
            tickers = [match.group(1).upper() for table in all_tables if (match := pattern.match(table))]
            return tickers
        except Exception as e:
            print(f"❌ Failed to inspect tables: {e}")
            return []
        
        
#example usage
pg = PostgresManager(
    host=os.getenv('host'),
    port=os.getenv('port'),
    dbname=os.getenv('dbname'),
    user=os.getenv('user'),
    password=os.getenv('password')
)
# Get all tickers from 30-min tables
tickers = pg.get_tickers_from_30min_tables()
print("Tickers found:", tickers)

# Fetch 30-min data for a specific ticker
ticker_data = pg.getTicker30MinData('AAPL')
print(ticker_data.head())

✅ PostgreSQL connection initialized.
Tickers found: ['AVGO', 'MA', 'JNJ', 'PM', 'IBM', 'NOW', 'TBB', 'RTX', 'ADBE', 'SCHW', 'TMO', 'C', 'GILD', 'PANW', 'CMCSA', 'MU', 'APH', 'BX', 'ICE', 'WELL', 'AMT', 'BMYMP', 'SOJC', 'CEG', 'HCA', 'DUKB', 'IBKR', 'ELV', 'INTC', 'AJG', 'TDG', 'CVS', 'RSG', 'ORLY', 'MMM', 'DELL', 'SCCO', 'APO', 'ZTS', 'ECL', 'SNPS', 'RCL', 'BRK-B', 'NFLX', 'HD', 'TMUS', 'WFC', 'AXP', 'ISRG', 'VZ', 'TXN', 'SPGI', 'BSX', 'TJX', 'RCIT', 'PFE', 'COF', 'CRWD', 'LMT', 'COP', 'MSFT', 'BRK-A', 'ORCL', 'BAC', 'UNH', 'CVX', 'NVDA', 'TSLA', 'COST', 'ABBV', 'GE', 'ABT', 'MS', 'MRK', 'BKNG', 'CAT', 'BA', 'NEE', 'APP', 'AMAT', 'ADP', 'LOW', 'VRTX', 'LRCX', 'KKR', 'MSTR', 'PLD', 'CME', 'SOJE', 'SOJD', 'NKE', 'FI', 'SHW', 'EQIX', 'ABNB', 'PH', 'CI', 'CDNS', 'FTNT', 'AAPL', 'WMT', 'XOM', 'KO', 'CRM', 'MCD', 'DIS', 'GS', 'UBER', 'QCOM', 'AMGN', 'HON', 'DE', 'UNP', 'GEV', 'ANET', 'MMC', 'ADI', 'KLAC', 'SBUX', 'MO', 'BMY', 'SO', 'WM', 'DASH', 'CTAS', 'DUK', 'MCK', 'MCO', 'MDLZ', 'UPS', 'AMZN', 'JPM', 'GOOGL', 'GOOG', 'LLY', 'META', 'V', 'PG', 'PLTR', 'CSCO', 'INTU', 'T', 'AMD', 'PEP', 'PGR', 'BLK', 'SYK', 'DHR', 'GD', 'WMB', 'CL', 'CVNA', 'MAR', 'ITW', 'PYPL', 'HWM', 'CMG', 'PNC', 'NOC', 'SNOW', 'MSI', 'USB', 'EMR', 'EPD', 'WDAY', 'CRWV', 'HOOD', 'RBLX', 'BK', 'COIN', 'ADSK', 'KMI', 'NET', 'APD', 'EOG', 'AZO', 'TRV', 'MNST', 'AXON', 'ROP', 'ET', 'CARR', 'CSX', 'HLT', 'FCX', 'DLR', 'MRVL', 'VST', 'NEM', 'PAYX', 'NSC', 'AFL', 'COR', 'ALL', 'CHTR', 'AEP', 'LNG', 'MET', 'PWR', 'TFC', 'PSA', 'SPG', 'FDX', 'GWW', 'MPLX', 'REGN', 'OKE', 'O', 'DFS', 'AIG', 'SRE', 'BDX', 'SREA', 'AMP', 'MPC', 'NDAQ', 'PCAR', 'CTVA', 'CPRT', 'FAST', 'D', 'ROST', 'ZS', 'VEEV', 'PSX', 'SLB', 'URI', 'LHX', 'GM', 'EW', 'CMI', 'VRSK', 'KDP', 'KMB']
✅ Retrieved 81963 rows of 30-min data for AAPL
                     open    close     volume
date
1980-12-12 16:00:00   NaN  0.12835  469034068
1980-12-15 16:00:00   NaN  0.12165  175884971
1980-12-16 16:00:00   NaN  0.11272  105728103
1980-12-17 16:00:00   NaN  0.11551   86441684
1980-12-18 16:00:00   NaN  0.11886   73449671

##### Getting all EOD Data

In [4]:
# 1. Get valid symbols from CompanyProfiles
query = """
SELECT symbol FROM "CompanyProfiles"
WHERE "marketCap" IS NOT NULL AND "marketCap" > 0
"""
symbols_df = pd.read_sql_query(text(query), pg.engine)
tickers = symbols_df['symbol'].tolist()

print(f"✅ Retrieved {len(tickers)} tickers with market cap > 0")

# 2. Get valid EODData tables that exist in the database
existing_tables = pg.get_tickers_from_EOD_tables()
valid_tickers = [t for t in tickers if t in existing_tables]

print(f"✅ {len(valid_tickers)} tickers with available EODData")

# 3. Load all 30-min data and clean
ticker_data = {}
for ticker in valid_tickers:
    table_name = f'"{ticker}_EOD_Data"'
    try:
        df = pd.read_sql_query(text(f"SELECT * FROM {table_name} WHERE open IS NOT NULL"), pg.engine)
        #checking if the length of the dataframe is greater than 0
        if df.empty:
            print(f"❌ No data found for {ticker} in {table_name}. Skipping.")
            continue
        df.reset_index(drop=True, inplace=True)
        df['date'] = pd.to_datetime(df['date'])
        df = df[df['open'].notna() & (df['open'] != 0) & df['open'].notnull()]
        df.set_index('date', inplace=True)
        df = df[['close']]  # Only keep close for correlation
        df.rename(columns={'close': ticker}, inplace=True)
        ticker_data[ticker] = df
    except Exception as e:
        print(f"⚠️ Failed to load {ticker}: {e}")

# 4. Align on common earliest date
if not ticker_data:
    print("❌ No valid data to process.")
    
print(ticker_data)

✅ Retrieved 234 tickers with market cap > 0
✅ 234 tickers with available EODData
{'AVGO':               AVGO
date
2009-08-06    1.62
2009-08-07    1.64
2009-08-10    1.60
2009-08-11    1.57
2009-08-12    1.60
...            ...
2025-06-02  248.71
2025-06-03  256.85
2025-06-04  261.08
2025-06-05  259.93
2025-06-06  246.93

[3984 rows x 1 columns], 'MA':                 MA
date
2006-05-25    4.60
2006-05-26    4.49
2006-05-30    4.40
2006-05-31    4.49
2006-06-01    4.75
...            ...
2025-06-02  581.22
2025-06-03  581.97
2025-06-04  584.13
2025-06-05  585.44
2025-06-06  590.12

[4789 rows x 1 columns], 'JNJ':                JNJ
date
1970-01-02    1.22
1970-01-05    1.19
1970-01-06    1.21
1970-01-07    1.21
1970-01-08    1.22
...            ...
2025-06-02  155.40
2025-06-03  154.42
2025-06-04  153.22
2025-06-05  153.66
2025-06-06  155.03

[14003 rows x 1 columns], 'PM':                 PM
date
2008-03-17   49.39
2008-03-18   49.60
2008-03-19   50.10
2008-03-20   49.15
2008-03-24   51.00
...            ...
2025-06-02  182.75
2025-06-03  182.37
2025-06-04  180.66
2025-06-05  181.96
2025-06-06  181.73

[4335 rows x 1 columns], 'CEG':                CEG
date
2022-01-19   42.00
2022-01-20   45.00
2022-01-21   45.00
2022-01-24   42.80
2022-01-25   41.90
...            ...
2025-06-02  313.43
2025-06-03  313.03
2025-06-04  299.54
2025-06-05  289.88
2025-06-06  298.80

[849 rows x 1 columns], 'IBM':                IBM
date
1962-01-02    7.29
1962-01-03    7.36
1962-01-04    7.28
1962-01-05    7.14
1962-01-08    7.00
...            ...
2025-06-02  263.90
2025-06-03  265.20
2025-06-04  265.52
2025-06-05  266.86
2025-06-06  268.87

[15991 rows x 1 columns], 'NOW':                 NOW
date
2012-06-29    24.60
2012-07-02    24.77
2012-07-03    25.31
2012-07-05    25.96
2012-07-06    25.84
...             ...
2025-06-02  1012.11
2025-06-03  1010.88
2025-06-04  1012.74
2025-06-05  1017.60
2025-06-06  1030.21

[3253 rows x 1 columns], 'TBB':               TBB
date
2017-11-07  25.34
2017-11-08  25.40
2017-11-09  25.33
2017-11-10  25.29
2017-11-13  25.29
...           ...
2025-06-02  21.93
2025-06-03  21.91
2025-06-04  21.96
2025-06-05  22.03
2025-06-06  21.93

[1905 rows x 1 columns], 'RTX':                   RTX
date
1962-04-03    0.62277
1962-04-04    0.60802
1962-04-05    0.60966
1962-04-06    0.58999
1962-04-09    0.58999
...               ...
2025-06-02  137.46000
2025-06-03  137.50000
2025-06-04  138.55000
2025-06-05  139.07000
2025-06-06  139.10000

[15926 rows x 1 columns], 'ADBE':                  ADBE
date
1986-08-13    0.21094
1986-08-14    0.22266
1986-08-15    0.21875
1986-08-18    0.21094
1986-08-19    0.21484
...               ...
2025-06-02  403.40000
2025-06-03  412.49000
2025-06-04  413.91000
2025-06-05  415.20000
2025-06-06  416.92000

[9780 rows x 1 columns], 'SCHW':                 SCHW
date
1987-09-22   0.36215
1987-09-23   0.36215
1987-09-24   0.37038
1987-09-25   0.37313
1987-09-28   0.36489
...              ...
2025-06-02  88.11000
2025-06-03  88.00000
2025-06-04  87.48000
2025-06-05  87.24000
2025-06-06  88.25000

[9500 rows x 1 columns], 'TMO':                TMO
date
1980-03-17    1.77
1980-03-18    1.74
1980-03-19    1.81
1980-03-20    1.77
1980-03-21    1.77
...            ...
2025-06-02  396.47
2025-06-03  399.93
2025-06-04  403.66
2025-06-05  398.36
2025-06-06  401.90

[11400 rows x 1 columns], 'C':                 C
date
1977-01-03   8.12
1977-01-04   8.15
1977-01-05   8.09
1977-01-06   8.04
1977-01-07   8.07
...           ...
2025-06-02  75.80
2025-06-03  76.53
2025-06-04  76.40
2025-06-05  76.67
2025-06-06  78.26

[12209 rows x 1 columns], 'GILD':                  GILD
date
1992-01-22    0.63281
1992-01-23    0.68750
1992-01-24    0.69531
1992-01-27    0.75000
1992-01-28    0.73438
...               ...
2025-06-02  108.91000
2025-06-03  109.33000
2025-06-04  109.02000
2025-06-05  110.46000
2025-06-06  112.46000

[8404 rows x 1 columns], 'PYPL':                  PYPL
date
2015-07-06  36.709999
2015-07-07  36.619999
2015-07-08  34.700001
2015-07-09  34.500000
2015-07-10  34.689999
...               ...
2025-06-02  70.930000
2025-06-03  71.330000
2025-06-04  72.800000
2025-06-05  72.470000
2025-06-06  73.430000

[2497 rows x 1 columns], 'PANW':               PANW
date
2012-07-20    8.85
2012-07-23    8.58
2012-07-24    9.25
2012-07-25    9.82
2012-07-26    9.98
...            ...
2025-06-02  194.86
2025-06-03  197.12
2025-06-04  194.07
2025-06-05  197.11
2025-06-06  199.60

[3239 rows x 1 columns], 'CMCSA':                 CMCSA
date
1980-03-17   0.097549
1980-03-18   0.097549
1980-03-19   0.096465
1980-03-20   0.104050
1980-03-21   0.107300
...               ...
2025-06-02  34.330000
2025-06-03  34.660000
2025-06-04  34.440000
2025-06-05  34.220000
2025-06-06  34.700000

[11400 rows x 1 columns], 'MU':                 MU
date
1984-06-01    1.41
1984-06-04    1.41
1984-06-05    1.40
1984-06-06    1.48
1984-06-07    1.64
...            ...
2025-06-02   98.18
2025-06-03  102.25
2025-06-04  103.25
2025-06-05  106.29
2025-06-06  108.56

[10336 rows x 1 columns], 'APH':                  APH
date
1991-11-08   0.14453
1991-11-11   0.14453
1991-11-12   0.14453
1991-11-13   0.14063
1991-11-14   0.13672
...              ...
2025-06-02  90.36000
2025-06-03  91.68000
2025-06-04  91.91000
2025-06-05  92.52000
2025-06-06  93.36000

[8454 rows x 1 columns], 'NEM':               NEM
date
1980-03-17  15.42
1980-03-18  15.82
1980-03-19  16.17
1980-03-20  16.22
1980-03-21  16.02
...           ...
2025-06-02  55.58
2025-06-03  55.34
2025-06-04  55.28
2025-06-05  54.51
2025-06-06  52.36

[11400 rows x 1 columns], 'BX':                 BX
date
2007-06-22   34.40
2007-06-25   31.83
2007-06-26   30.17
2007-06-27   29.35
2007-06-28   29.13
...            ...
2025-06-02  138.81
2025-06-03  139.01
2025-06-04  138.76
2025-06-05  137.76
2025-06-06  140.45

[4519 rows x 1 columns], 'ICE':                ICE
date
2005-11-16    7.85
2005-11-17    7.05
2005-11-18    7.00
2005-11-21    7.18
2005-11-22    6.99
...            ...
2025-06-02  180.32
2025-06-03  179.34
2025-06-04  179.13
2025-06-05  178.56
2025-06-06  178.68

[4919 rows x 1 columns], 'WELL':               WELL
date
1980-03-19    6.50
1980-03-20    6.50
1980-03-21    6.50
1980-03-24    6.50
1980-03-25    6.50
...            ...
2025-06-02  155.22
2025-06-03  152.20
2025-06-04  152.05
2025-06-05  153.03
2025-06-06  154.45

[11398 rows x 1 columns], 'AMT':                AMT
date
1998-02-27   17.38
1998-03-02   17.25
1998-03-03   17.13
1998-03-04   15.75
1998-03-05   16.13
...            ...
2025-06-02  214.11
2025-06-03  213.39
2025-06-04  214.36
2025-06-05  216.22
2025-06-06  212.54

[6862 rows x 1 columns], 'BMYMP':              BMYMP
date
2003-12-08  429.50
2003-12-09  429.50
2003-12-10  429.50
2003-12-11  429.50
2003-12-12  429.50
...            ...
2025-06-02  877.77
2025-06-03  898.98
2025-06-04  898.98
2025-06-05  898.98
2025-06-06  898.98

[5416 rows x 1 columns], 'SOJC':              SOJC
date
2017-11-28  25.10
2017-11-29  25.06
2017-11-30  25.02
2017-12-01  25.07
2017-12-04  25.03
...           ...
2025-06-02  21.20
2025-06-03  21.29
2025-06-04  21.42
2025-06-05  21.53
2025-06-06  21.41

[1891 rows x 1 columns], 'HCA':                HCA
date
2011-03-10   31.02
2011-03-11   31.12
2011-03-14   30.91
2011-03-15   31.34
2011-03-16   31.25
...            ...
2025-06-02  382.16
2025-06-03  383.06
2025-06-04  381.66
2025-06-05  381.50
2025-06-06  384.34

[3583 rows x 1 columns], 'DUKB':              DUKB
date
2018-10-18  23.91
2018-10-19  23.71
2018-10-22  23.84
2018-10-23  23.86
2018-10-24  23.91
...           ...
2025-06-02  24.63
2025-06-03  24.69
2025-06-04  24.75
2025-06-05  24.77
2025-06-06  24.66

[1667 rows x 1 columns], 'IBKR':               IBKR
date
2007-05-04   31.30
2007-05-07   29.75
2007-05-08   28.50
2007-05-09   28.32
2007-05-10   27.69
...            ...
2025-06-02  208.20
2025-06-03  207.91
2025-06-04  206.03
2025-06-05  206.82
2025-06-06  211.83

[4553 rows x 1 columns], 'ELV':                ELV
date
2001-10-30   20.45
2001-10-31   20.94
2001-11-01   21.09
2001-11-02   21.45
2001-11-05   21.45
...            ...
2025-06-02  377.05
2025-06-03  378.96
2025-06-04  380.07
2025-06-05  384.65
2025-06-06  393.36

[5939 rows x 1 columns], 'INTC':                 INTC
date
1980-03-17   0.32552
1980-03-18   0.32292
1980-03-19   0.33073
1980-03-20   0.32943
1980-03-21   0.31771
...              ...
2025-06-02  19.74000
2025-06-03  20.29000
2025-06-04  20.25000
2025-06-05  19.99000
2025-06-06  20.06000

[11401 rows x 1 columns], 'AJG':                AJG
date
1984-06-20    1.84
1984-06-21    1.78
1984-06-22    1.78
1984-06-25    1.75
1984-06-26    1.72
...            ...
2025-06-02  348.77
2025-06-03  345.25
2025-06-04  336.34
2025-06-05  328.10
2025-06-06  328.76

[10323 rows x 1 columns], 'TDG':                 TDG
date
2006-03-15    24.10
2006-03-16    24.27
2006-03-17    25.01
2006-03-20    24.90
2006-03-21    24.20
...             ...
2025-06-02  1453.77
2025-06-03  1455.95
2025-06-04  1448.70
2025-06-05  1444.49
2025-06-06  1465.89

[4839 rows x 1 columns], 'CVS':               CVS
date
1996-11-20  10.06
1996-11-21  10.06
1996-11-22  10.38
1996-11-25  10.50
1996-11-26  10.38
...           ...
2025-06-02  63.60
2025-06-03  63.59
2025-06-04  63.57
2025-06-05  63.08
2025-06-06  63.58

[7181 rows x 1 columns], 'RSG':                RSG
date
1998-07-01   17.00
1998-07-02   17.13
1998-07-06   17.25
1998-07-07   17.00
1998-07-08   17.13
...            ...
2025-06-02  258.07
2025-06-03  256.46
2025-06-04  254.12
2025-06-05  253.16
2025-06-06  252.97

[6776 rows x 1 columns], 'AXP':                AXP
date
1972-06-01    4.23
1972-06-02    4.21
1972-06-05    4.12
1972-06-06    3.91
1972-06-07    3.87
...            ...
2025-06-02  295.33
2025-06-03  297.39
2025-06-04  295.93
2025-06-05  295.96
2025-06-06  302.47

[13367 rows x 1 columns], 'ORLY':                   ORLY
date
1993-04-23     2.40625
1993-04-26     2.34375
1993-04-27     2.31250
1993-04-28     2.28125
1993-04-29     2.31250
...                ...
2025-06-02  1370.68000
2025-06-03  1372.07000
2025-06-04  1366.59000
2025-06-05  1371.80000
2025-06-06  1377.72000

[8087 rows x 1 columns], 'MMM':                MMM
date
1962-01-02    3.47
1962-01-03    3.50
1962-01-04    3.50
1962-01-05    3.41
1962-01-08    3.39
...            ...
2025-06-02  146.40
2025-06-03  148.13
2025-06-04  146.81
2025-06-05  146.26
2025-06-06  145.50

[15990 rows x 1 columns], 'DELL':               DELL
date
2016-08-17   12.07
2016-08-18   12.00
2016-08-19   12.21
2016-08-22   12.25
2016-08-23   12.63
...            ...
2025-06-02  108.08
2025-06-03  111.90
2025-06-04  112.70
2025-06-05  111.82
2025-06-06  113.75

[2214 rows x 1 columns], 'SCCO':              SCCO
date
1996-01-05   2.56
1996-01-08   2.54
1996-01-09   2.56
1996-01-10   2.56
1996-01-11   2.54
...           ...
2025-06-02  92.45
2025-06-03  92.50
2025-06-04  93.74
2025-06-05  96.07
2025-06-06  95.64

[7404 rows x 1 columns], 'COP':               COP
date
1981-12-31   5.20
1982-01-04   5.12
1982-01-05   4.93
1982-01-06   4.83
1982-01-07   4.79
...           ...
2025-06-02  86.72
2025-06-03  87.91
2025-06-04  85.95
2025-06-05  85.35
2025-06-06  87.22

[10947 rows x 1 columns], 'APO':                APO
date
2011-03-30   18.20
2011-03-31   18.00
2011-04-01   18.00
2011-04-04   17.88
2011-04-05   17.98
...            ...
2025-06-02  130.52
2025-06-03  131.10
2025-06-04  130.30
2025-06-05  130.28
2025-06-06  133.45

[3569 rows x 1 columns], 'ZTS':                ZTS
date
2013-02-01   31.01
2013-02-04   31.02
2013-02-05   31.04
2013-02-06   31.03
2013-02-07   32.00
...            ...
2025-06-02  169.42
2025-06-03  170.30
2025-06-04  168.59
2025-06-05  168.61
2025-06-06  170.16

[3106 rows x 1 columns], 'ECL':                ECL
date
1972-04-03    2.20
1972-04-04    2.27
1972-04-05    2.30
1972-04-06    2.29
1972-04-07    2.31
...            ...
2025-06-02  265.15
2025-06-03  265.42
2025-06-04  267.04
2025-06-05  266.93
2025-06-06  267.06

[13408 rows x 1 columns], 'SNPS':                  SNPS
date
1992-02-26    7.87500
1992-02-27    7.78125
1992-02-28    7.68750
1992-03-02    7.93750
1992-03-03    8.00000
...               ...
2025-06-02  466.15000
2025-06-03  466.26000
2025-06-04  473.19000
2025-06-05  482.20000
2025-06-06  486.00000

[8380 rows x 1 columns], 'RCL':                RCL
date
1993-04-28    9.13
1993-04-29    9.31
1993-04-30    9.19
1993-05-03    9.19
1993-05-04    9.06
...            ...
2025-06-02  261.93
2025-06-03  266.76
2025-06-04  265.64
2025-06-05  271.40
2025-06-06  276.34

[8084 rows x 1 columns], 'BRK-B':                  BRK-B
date
1996-05-09   23.200001
1996-05-10   24.000000
1996-05-13   23.900000
1996-05-14   23.600000
1996-05-15   23.200001
...                ...
2025-06-02  502.810000
2025-06-03  497.830000
2025-06-04  491.000000
2025-06-05  488.740000
2025-06-06  493.530000

[7317 rows x 1 columns], 'NFLX':                    NFLX
date
2002-05-23     1.196427
2002-05-24     1.209999
2002-05-28     1.157142
2002-05-29     1.103570
2002-05-30     1.071427
...                 ...
2025-06-02  1218.980000
2025-06-03  1217.940000
2025-06-04  1239.660000
2025-06-05  1250.520000
2025-06-06  1241.470000

[5798 rows x 1 columns], 'HD':                     HD
date
1981-09-22    0.035118
1981-09-23    0.035118
1981-09-24    0.035118
1981-09-25    0.035118
1981-09-28    0.035118
...                ...
2025-06-02  367.960000
2025-06-03  373.080000
2025-06-04  372.400000
2025-06-05  369.280000
2025-06-06  367.330000

[11018 rows x 1 columns], 'TMUS':               TMUS
date
2007-04-19   54.80
2007-04-20   57.10
2007-04-23   57.50
2007-04-24   58.40
2007-04-25   57.22
...            ...
2025-06-02  243.06
2025-06-03  243.88
2025-06-04  241.96
2025-06-05  244.90
2025-06-06  245.86

[4564 rows x 1 columns], 'WFC':                  WFC
date
1972-06-01   0.88021
1972-06-02   0.88282
1972-06-05   0.89584
1972-06-06   0.89584
1972-06-07   0.88803
...              ...
2025-06-02  74.72000
2025-06-03  75.65000
2025-06-04  75.38000
2025-06-05  74.90000
2025-06-06  76.33000

[13391 rows x 1 columns], 'ISRG':               ISRG
date
2000-06-16    2.03
2000-06-19    2.00
2000-06-20    2.08
2000-06-21    2.44
2000-06-22    2.19
...            ...
2025-06-02  553.29
2025-06-03  551.85
2025-06-04  557.95
2025-06-05  558.06
2025-06-06  557.08

[6281 rows x 1 columns], 'VZ':                VZ
date
1983-11-21   8.09
1983-11-22   8.06
1983-11-23   8.01
1983-11-25   7.93
1983-11-28   7.71
...           ...
2025-06-02  44.10
2025-06-03  43.83
2025-06-04  43.24
2025-06-05  43.30
2025-06-06  43.80

[10468 rows x 1 columns], 'TXN':                TXN
date
1972-06-01    1.70
1972-06-02    1.73
1972-06-05    1.74
1972-06-06    1.66
1972-06-07    1.66
...            ...
2025-06-02  184.21
2025-06-03  188.08
2025-06-04  190.72
2025-06-05  190.49
2025-06-06  192.42

[13366 rows x 1 columns], 'SPGI':               SPGI
date
2016-04-28  107.61
2016-04-29  106.85
2016-05-02  107.17
2016-05-03  104.50
2016-05-04  104.29
...            ...
2025-06-02  513.59
2025-06-03  512.30
2025-06-04  513.94
2025-06-05  515.76
2025-06-06  519.36

[2291 rows x 1 columns], 'BSX':                   BSX
date
1992-05-19    4.28125
1992-05-20    4.37500
1992-05-21    4.37500
1992-05-22    4.53125
1992-05-26    4.37500
...               ...
2025-06-02  104.17000
2025-06-03  103.10000
2025-06-04  102.43000
2025-06-05  102.83000
2025-06-06  102.09000

[8322 rows x 1 columns], 'TJX':                   TJX
date
1987-06-26    0.87500
1987-06-29    0.86328
1987-06-30    0.87109
1987-07-01    0.87109
1987-07-02    0.87109
...               ...
2025-06-02  128.43000
2025-06-03  128.12000
2025-06-04  128.07000
2025-06-05  127.37000
2025-06-06  128.45000

[9560 rows x 1 columns], 'RCIT':                  RCIT
date
2015-05-20     0.5500
2015-06-05     0.1000
2015-06-10     0.1000
2015-07-10     0.1200
2015-07-13     0.2000
...               ...
2025-04-23     0.0083
2025-05-01     0.0073
2025-05-05     0.0079
2025-05-13     0.0004
2025-05-27  2143.0900

[1186 rows x 1 columns], 'PFE':                  PFE
date
1972-06-01   0.81464
1972-06-02   0.80476
1972-06-05   0.80229
1972-06-06   0.81957
1972-06-07   0.81957
...              ...
2025-06-02  23.46000
2025-06-03  23.35000
2025-06-04  23.39000
2025-06-05  23.12000
2025-06-06  23.35000

[13391 rows x 1 columns], 'COF':                COF
date
1994-11-16    5.33
1994-11-17    5.42
1994-11-18    5.50
1994-11-21    5.37
1994-11-22    5.12
...            ...
2025-06-02  191.46
2025-06-03  195.63
2025-06-04  192.86
2025-06-05  192.00
2025-06-06  198.14

[7690 rows x 1 columns], 'CRWD':               CRWD
date
2019-06-12   58.00
2019-06-13   67.56
2019-06-14   64.16
2019-06-17   70.01
2019-06-18   76.50
...            ...
2025-06-02  479.17
2025-06-03  488.76
2025-06-04  460.56
2025-06-05  462.94
2025-06-06  468.41

[1506 rows x 1 columns], 'LMT':                   LMT
date
1977-01-03    0.95859
1977-01-04    0.95859
1977-01-05    0.98415
1977-01-06    1.04000
1977-01-07    1.05000
...               ...
2025-06-02  478.82000
2025-06-03  480.17000
2025-06-04  482.21000
2025-06-05  478.03000
2025-06-06  481.69000

[12209 rows x 1 columns], 'MSFT':                   MSFT
date
1986-03-13    0.097223
1986-03-14    0.100700
1986-03-17    0.102430
1986-03-18    0.099827
1986-03-19    0.098091
...                ...
2025-06-02  461.970000
2025-06-03  462.970000
2025-06-04  463.870000
2025-06-05  467.680000
2025-06-06  470.380000

[9886 rows x 1 columns], 'BRK-A':                 BRK-A
date
1980-03-17     290.00
1980-03-18     290.00
1980-03-19     290.00
1980-03-20     290.00
1980-03-21     290.00
...               ...
2025-06-02  754740.00
2025-06-03  746200.00
2025-06-04  737820.00
2025-06-05  732953.19
2025-06-06  740395.50

[11400 rows x 1 columns], 'ORCL':                   ORCL
date
1986-03-12    0.063273
1986-03-13    0.064816
1986-03-14    0.067131
1986-03-17    0.065588
1986-03-18    0.064044
...                ...
2025-06-02  166.570000
2025-06-03  169.140000
2025-06-04  168.100000
2025-06-05  171.140000
2025-06-06  174.020000

[9887 rows x 1 columns], 'BAC':               BAC
date
1973-02-21   4.63
1973-02-22   4.64
1973-02-23   4.63
1973-02-26   4.63
1973-02-27   4.63
...           ...
2025-06-02  44.08
2025-06-03  44.65
2025-06-04  44.36
2025-06-05  44.38
2025-06-06  44.97

[13211 rows x 1 columns], 'UNH':                   UNH
date
1984-10-17    0.14453
1984-10-18    0.14844
1984-10-19    0.14453
1984-10-22    0.14453
1984-10-23    0.14063
...               ...
2025-06-02  304.72000
2025-06-03  301.22000
2025-06-04  300.38000
2025-06-05  295.84000
2025-06-06  303.22000

[10240 rows x 1 columns], 'CVX':                CVX
date
1962-01-03    3.29
1962-01-04    3.26
1962-01-05    3.18
1962-01-08    3.16
1962-01-09    3.21
...            ...
2025-06-02  137.84
2025-06-03  139.55
2025-06-04  137.37
2025-06-05  136.90
2025-06-06  140.21

[15990 rows x 1 columns], 'NVDA':                   NVDA
date
1999-01-22    0.041017
1999-01-25    0.045313
1999-01-26    0.041797
1999-01-27    0.041667
1999-01-28    0.041537
...                ...
2025-06-02  137.380000
2025-06-03  141.220000
2025-06-04  141.920000
2025-06-05  139.990000
2025-06-06  141.720000

[6635 rows x 1 columns], 'TSLA':               TSLA
date
2010-06-29    1.59
2010-06-30    1.59
2010-07-01    1.46
2010-07-02    1.28
2010-07-06    1.07
...            ...
2025-06-02  342.69
2025-06-03  344.27
2025-06-04  332.05
2025-06-05  284.70
2025-06-06  295.14

[3759 rows x 1 columns], 'COST':                COST
date
1986-07-09     2.48
1986-07-10     2.40
1986-07-11     2.40
1986-07-14     2.25
1986-07-15     2.25
...             ...
2025-06-02  1056.85
2025-06-03  1055.59
2025-06-04  1051.69
2025-06-05  1010.81
2025-06-06  1014.94

[9805 rows x 1 columns], 'ABBV':               ABBV
date
2013-01-02   35.12
2013-01-03   34.83
2013-01-04   34.39
2013-01-07   34.46
2013-01-08   33.71
...            ...
2025-06-02  186.99

##### Getting all correlation Data

In [5]:
TickerDataCopy = ticker_data.copy()
# Find common start date
# Filter out tickers where min_date is before 2010
min_dates = {ticker: df.index.min() for ticker, df in TickerDataCopy.items()}
filtered_TickerDataCopy = {ticker: df for ticker, df in TickerDataCopy.items() if min_dates[ticker] <= pd.Timestamp('2010-01-01')}
print(f"✅ Found {len(filtered_TickerDataCopy)} tickers with data starting from 2010 or later.")




if not filtered_TickerDataCopy:
    print("❌ No tickers with data starting from 2010 or later.")
TickerDataCopy = filtered_TickerDataCopy
##We go find out how many tickers have data at date 2010-01-01 specifically
#finding out how many tickers have a row with the date 2010-01-01
common_start = pd.Timestamp('2010-01-01')
min_dates = {ticker: pd.Timestamp(df.index.min()) for ticker, df in TickerDataCopy.items() if pd.Timestamp(df.index.min()) <= common_start}
if not min_dates:
    print("❌ No tickers with data starting from 2010-01-01.")
else:
    common_start = min(min_dates.values())
    TickerDataCopy = {ticker: df[df.index >= common_start] for ticker, df in TickerDataCopy.items() if df.index.min() <= common_start}
    print(f"✅ Found {len(min_dates)} tickers with data starting from 2010-01-01 or later.")
print(f"📅 Common start date for {len(min_dates)} stocks: {common_start.date()}")

# Trim all dataframes to start from common_start
for ticker in TickerDataCopy:
    TickerDataCopy[ticker] = TickerDataCopy[ticker][TickerDataCopy[ticker].index >= common_start]
    
# Print shapes of each ticker's data
for ticker, df in TickerDataCopy.items():
    print(f"📈 {ticker}: {df.shape[0]} rows from {df.index.min().date()} to {df.index.max().date()}")

# Merge all into one big DataFrame on date
merged_df = pd.concat(TickerDataCopy.values(), axis=1, join='inner').dropna()
print(f"📊 Final merged DataFrame shape: {merged_df.shape}")

# 5. Calculate correlation matrix
corr_matrix = merged_df.corr()

# 6. Rank and flatten correlations
correlation_ranks = {}
for t1, t2 in combinations(corr_matrix.columns, 2):
    corr_value = corr_matrix.loc[t1, t2]
    correlation_ranks[f"{t1}_{t2}_Corr"] = corr_value

# 7. Convert to ranked DataFrame
ranked_corrs = pd.DataFrame.from_dict(correlation_ranks, orient='index', columns=['correlation'])
ranked_corrs = ranked_corrs.sort_values(by='correlation', ascending=False)

print(ranked_corrs.head(10))

✅ Found 184 tickers with data starting from 2010 or later.
✅ Found 184 tickers with data starting from 2010-01-01 or later.
📅 Common start date for 184 stocks: 1962-01-02
📈 IBM: 15991 rows from 1962-01-02 to 2025-06-06
📈 MMM: 15990 rows from 1962-01-02 to 2025-06-06
📈 GE: 15966 rows from 1962-01-02 to 2025-06-06
📈 CAT: 15965 rows from 1962-01-02 to 2025-06-06
📈 BA: 15941 rows from 1962-01-02 to 2025-06-06
📈 KO: 15965 rows from 1962-01-02 to 2025-06-06
📈 DIS: 15965 rows from 1962-01-02 to 2025-06-06
📊 Final merged DataFrame shape: (15916, 7)
              correlation
MMM_DIS_Corr     0.938146
MMM_BA_Corr      0.915146
BA_DIS_Corr      0.912181
KO_DIS_Corr      0.902013
IBM_KO_Corr      0.898058
MMM_KO_Corr      0.897276
CAT_KO_Corr      0.865538
IBM_MMM_Corr     0.861566
BA_KO_Corr       0.840364
CAT_DIS_Corr     0.827649

##### Trading Strategy Abstract

In [6]:
class TradingStrategy():
    def __init__(self, data, window=30):
        self.rawData = data
        self.window = window
        self.workingData = pd.DataFrame()
        self.processed = False
        self.tickerResults = {}
        self.backTests = {}
        
    @abstractmethod
    def createProcessedData(self):
        """Preprocess raw data into working format"""
        pass
        
    @abstractmethod
    def calculateMetrics(self):
        """Calculate strategy-specific metrics and signals"""
        pass
        
    @abstractmethod
    def addSignalsToDataFrames(self):
        """Add generated signals to individual asset DataFrames"""
        pass
        
    @abstractmethod
    def executeBacktests(self):
        """Execute backtests for all assets"""
        pass
        
    def go(self):
        """Main execution workflow"""
        self.createProcessedData()
        self.calculateMetrics()
        self.addSignalsToDataFrames()
        self.executeBacktests()

##### Trading Strategy

In [7]:
def SIGNAL():
    return df.signal

class SignalStrategy(Strategy):
    stopLoss = 1
    takeProfit = 15
    
    
    def init(self):
        # Convert signal to proper format and register as indicator
        super().init()
        self.signal_indicator = self.I(lambda: self.data.df['signal'])
    
    def next(self):
        super().next()
        myStopLoss = self.stopLoss*0.1
        myTakeProfit = self.takeProfit*0.1
            
        try:
            # Get current signal (last value of the indicator)
            current_signal = self.signal_indicator[-1]
            
            # Execute trading logic based on signal
            if current_signal == 0 and self.position:
                self.position.close()
            elif current_signal == 1:
                if self.position.is_short:
                    self.position.close()
                if not self.position.is_long:
                    self.buy()
            elif current_signal == -1:
                if self.position.is_long:
                    self.position.close()
                if not self.position.is_short:
                    self.sell()
                    
        except IndexError:
            # Handle cases where indicators aren't fully initialized
            pass

In [8]:


class MeanReversionStrategy():
    def __init__(self, data, window = 30):
        self.rawData = data
        self.data = data
        self.workingData = pd.DataFrame()
        self.window = window  # Rolling window size for mean reversion calculations
        self.createProcessedData()
    
    def createProcessedData(self):
        """
        Preprocess the raw data to create a working DataFrame.
        This method should be called to prepare the data for the strategy.
        """
        # Rename columns to uppercase first letter for backtesting compatibility
        column_map = {
            'open': 'Open',
            'high': 'High',
            'low': 'Low',
            'close': 'Close',
            'volume': 'Volume'
        }
        
        for ticker in self.rawData.keys():
            df = self.rawData[ticker].copy()
            # Drop the symbol column if it exists
            if 'symbol' in df.columns:
                df.drop(columns=['symbol'], inplace=True)
            # Rename columns using the mapping
            df.rename(columns=column_map, inplace=True)
            # If High or Low columns don't exist, create them as a copy of Close
            if 'High' not in df.columns:
                df['High'] = df['Close']
            if 'Low' not in df.columns:
                df['Low'] = df['Close']
            self.rawData[ticker] = df
            
        self.mergeData()
        self.calculateMetrics()
        self.addSignalsToDataFrames()
        
    
        
        
    def mergeData(self):
        for ticker in self.rawData.keys():
            df = self.rawData[ticker].copy()
            # Drop the symbol column if it exists
            if 'symbol' in df.columns:
                df.drop(columns=['symbol'], inplace=True)
            # Always add prefix for consistency
            df = df.add_prefix(f"{ticker}_")
            if self.workingData.empty:
                self.workingData = df.copy()
            else:
                self.workingData = self.workingData.join(df, how='outer')
            # If {ticker}_symbol column exists, drop it
            symbol_col = f"{ticker}_symbol"
            if symbol_col in self.workingData.columns:
                self.workingData.drop(columns=[symbol_col], inplace=True)
        
        
        
    def calculateMetrics(self):
        """
        Calculate mean reversion metrics such as spread, z-score, and Bollinger Bands.
        This method is generalized to handle any number of tickers in rawData.
        """
        tickers = list(self.rawData.keys())
        n = len(tickers)
        # Calculate normalized close for each ticker
        for ticker in tickers:
            self.workingData[f'{ticker}_normalizedClose'] = (
                self.workingData[f'{ticker}_Close'] - self.workingData[f'{ticker}_Close'].rolling(window=self.window).mean()
            ) / self.workingData[f'{ticker}_Close'].rolling(window=self.window).std()

        # Calculate pairwise normalized close ratios and z-scores
        for i in range(n):
            for j in range(i + 1, n):
                t1, t2 = tickers[i], tickers[j]
                ratio_col = f'{t1}_{t2}_normalizedCloseRatio'
                mean_col = f'{t1}_{t2}_rolling_mean'
                std_col = f'{t1}_{t2}_rolling_std'
                z_col = f'{t1}_{t2}_z_score'
                # Ratio
                self.workingData[ratio_col] = (
                    self.workingData[f'{t1}_normalizedClose'] / self.workingData[f'{t2}_normalizedClose']
                )
                # Rolling mean/std
                self.workingData[mean_col] = self.workingData[ratio_col].rolling(window=self.window).mean()
                self.workingData[std_col] = self.workingData[ratio_col].rolling(window=self.window).std()
                # Z-score
                self.workingData[z_col] = (
                    self.workingData[ratio_col] - self.workingData[mean_col]
                ) / self.workingData[std_col]
                self.workingData[z_col].fillna(0, inplace=True)

                # Generate signals for both tickers based on z-score
                for ticker_signal, direction in [(t1, ('sell', 'buy')), (t2, ('buy', 'sell'))]:
                    signal_col = f'{ticker_signal}_signal'
                    if signal_col not in self.workingData.columns:
                        self.workingData[signal_col] = 'hold'
                    self.workingData.loc[self.workingData[z_col] > 1.5, signal_col] = direction[0]
                    self.workingData.loc[self.workingData[z_col] < -1.5, signal_col] = direction[1]
                    self.workingData.loc[
                        (self.workingData[z_col] >= -0.9) & (self.workingData[z_col] <= 0.9), signal_col
                    ] = 'close'
                    #shifting the signal by 1 to avoid lookahead bias
                    self.workingData[signal_col] = self.workingData[signal_col].shift(1)
        # Drop rows with NaN values in any of the calculated columns
        self.workingData.dropna(inplace=True)
        print(self.workingData.tail())
        
    def addSignalsToDataFrames(self):
        """
        Add signals to each ticker's DataFrame based on the calculated metrics.
        This method is generalized to handle any number of tickers in workingData.
        """
        tickers = list(self.rawData.keys())
        for ticker in tickers:
            signal_col = f'{ticker}_signal'
            if signal_col not in self.workingData.columns:
                self.workingData[signal_col] = 'hold'
            # add the signal to the rawData DataFrame for the appropriate ticker
            self.rawData[ticker][signal_col] = self.workingData[signal_col]
            #remove rows with NaN signals for this ticker in rawData
            self.rawData[ticker].dropna(subset=[signal_col], inplace=True)
            #replace the buy/sell/close or hold signals with 1/-1/0
            self.rawData[ticker][signal_col] = self.rawData[ticker][signal_col].replace({
                'buy': 1,
                'sell': -1,
                'close': 0,
                'hold': 0
            })
            #rename the signal column to 'signal' for consistency
            self.rawData[ticker].rename(columns={signal_col: 'signal'}, inplace=True)
            #adding the High and Low columns to the rawData which is a copy of the Close column
            
            
    def go(self):
        #create self.tickerResults which is a dictionary
        self.tickerResults = {}
        self.backTests = {}
        for ticker in self.rawData.keys():
            print(f"Running backtest for {ticker}...")
            df = self.rawData[ticker].copy()
            print(df.columns)
            
            
            
            bt = Backtest(
                df,
                SignalStrategy,
                cash=10_000,
                commission=.002
            )
            
            stats, heatmap = bt.optimize(
                stopLoss = range(1, 5, 1),
                takeProfit = range(12, 20, 1),
                maximize='Sharpe Ratio',
                return_heatmap=True,
                max_tries= 50,
            )
            self.backTests[ticker] = bt
            self.tickerResults[ticker] = stats

In [9]:
ticker1 = 'MMM'
ticker2 = 'BA'

# Fetching EOD data for the two tickers
df1 = pg.getTickerEODData(ticker1)
df2 = pg.getTickerEODData(ticker2)

# Only keep data after 2010 (date is the index)
df1 = df1[df1.index >= pd.Timestamp('2010-01-01')]
df2 = df2[df2.index >= pd.Timestamp('2010-01-01')]

# Initialize and run the Mean Reversion Strategy
data_dict={ticker1: df1, ticker2: df2}

mrs = MeanReversionStrategy(data_dict, window=30)
mrs.go()

✅ Retrieved 15990 rows of EOD data for MMM
✅ Retrieved 15941 rows of EOD data for BA
            MMM_Open  MMM_Close  MMM_Volume  MMM_High  MMM_Low  BA_Open  \
date
2025-06-02    147.87     146.40     2825788    146.40   146.40   210.98
2025-06-03    146.31     148.13     2343553    148.13   148.13   212.00
2025-06-04    148.91     146.81     2347013    146.81   146.81   214.77
2025-06-05    147.04     146.26     3568399    146.26   146.26   212.50
2025-06-06    148.00     145.50     2297132    145.50   145.50   210.24

            BA_Close  BA_Volume  BA_High  BA_Low  MMM_normalizedClose  \
date
2025-06-02    211.47    7561816   211.47  211.47             0.357026
2025-06-03    213.43    8106100   213.43  213.43             0.578184
2025-06-04    211.98    5705300   211.98  211.98             0.306097
2025-06-05    209.02    4764400   209.02  209.02             0.156927
2025-06-06    210.80    6079682   210.80  210.80            -0.024042

            BA_normalizedClose  MMM_BA_normalizedCloseRatio  \
date
2025-06-02            1.328552                     0.268733
2025-06-03            1.438341                     0.401980
2025-06-04            1.310703                     0.233536
2025-06-05            1.020304                     0.153804
2025-06-06            1.120012                    -0.021466

            MMM_BA_rolling_mean  MMM_BA_rolling_std  MMM_BA_z_score  \
date
2025-06-02             7.949987           39.375428       -0.195077
2025-06-03             7.698340           39.399535       -0.185189
2025-06-04             0.496785            0.611577       -0.430443
2025-06-05             0.529608            0.562303       -0.668331
2025-06-06             0.538506            0.550909       -1.016452

           MMM_signal BA_signal
date
2025-06-02      close     close
2025-06-03      close     close
2025-06-04      close     close
2025-06-05      close     close
2025-06-06      close     close
Running backtest for MMM...
Index(['Open', 'Close', 'Volume', 'High', 'Low', 'signal'], dtype='object')

/tmp/ipykernel_40001/696649233.py:95: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.workingData[z_col].fillna(0, inplace=True)
/tmp/ipykernel_40001/696649233.py:128: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.rawData[ticker][signal_col] = self.rawData[ticker][signal_col].replace({
/tmp/ipykernel_40001/696649233.py:128: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.rawData[ticker][signal_col] = self.rawData[ticker][signal_col].replace({

Running backtest for BA...
Index(['Open', 'Close', 'Volume', 'High', 'Low', 'signal'], dtype='object')

##### Getting Correlation Basket

In [18]:
tickerDict = ticker_data.copy()
tickerDict.keys()

closePriceDf = pd.DataFrame()

# Create a DataFrame with only the 'close' prices for each ticker
for ticker, df in tickerDict.items():
    closePriceDf[ticker] = df[ticker]

# Ensure the DataFrame is sorted by date
closePriceDf.sort_index(inplace=True)
#dropping Nan values

/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]
/tmp/ipykernel_40001/468407267.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  closePriceDf[ticker] = df[ticker]

In [27]:
#where the index is greater than or equal to 2010-01-01
closePriceDf = closePriceDf[closePriceDf.index >= pd.Timestamp('2010-01-01')]
#removing the columns with more than 20% NaN values
closePriceDf = closePriceDf.dropna(thresh=len(closePriceDf) * 0.8, axis=1)
# Display the first few rows of the close price DataFrame
print(closePriceDf.head())

             AVGO      MA     JNJ     PM     IBM     NOW    TBB    RTX  \
date
2020-01-02  32.24  303.39  145.97  85.19  129.35  291.24  26.97  90.32
2020-01-03  31.42  300.43  144.28  85.03  128.32  291.10  27.01  90.45
2020-01-06  31.37  301.23  144.10  86.02  128.09  292.87  27.01  90.64
2020-01-07  31.26  300.21  144.98  86.40  128.17  292.91  27.03  90.35
2020-01-08  30.87  305.10  144.96  88.04  129.24  295.65  27.11  90.49

              ADBE   SCHW  ...     PSX    SLB     URI     LHX     GM       EW  \
date                       ...
2020-01-02  334.43  48.23  ...  112.20  40.17  168.65  203.31  37.38  77.5000
2020-01-03  331.81  47.01  ...  108.49  40.56  165.71  210.47  36.32  77.2100
2020-01-06  333.71  47.34  ...  107.81  40.82  165.38  211.72  35.84  78.2667
2020-01-07  333.39  47.62  ...  108.14  40.61  165.08  212.73  35.15  77.6700
2020-01-08  337.87  47.91  ...  104.10  39.41  164.81  211.29  34.65  77.1533

               CMI    VRSK    KDP     KMB
date
2020-01-02  179.32  151.12  28.74  135.83
2020-01-03  176.81  152.59  28.81  135.79
2020-01-06  174.13  152.94  29.00  136.09
2020-01-07  174.26  154.22  28.20  135.97
2020-01-08  174.35  155.64  27.76  137.29

[5 rows x 226 columns]

In [36]:
def find_correlated_group(close_prices, correlation_threshold=0.7):
    """
    Identifies a group of highly correlated stocks from close price data.
    
    Parameters:
    close_prices (pd.DataFrame): DataFrame with tickers as columns and dates as index
    correlation_threshold (float): Minimum correlation coefficient to consider stocks as correlated
    
    Returns:
    list: Tickers in the largest correlated group
    """
    # 1. Calculate correlation matrix
    corr_matrix = close_prices.corr()
    
    # 2. Convert correlation to distance matrix (0 = perfect correlation, 2 = no correlation)
    distance_matrix = np.sqrt(2 * (1 - corr_matrix))
    
    # 3. Perform hierarchical clustering
    linkage_matrix = linkage(distance_matrix, 'average')
    
    # 4. Cluster based on correlation threshold
    distance_threshold = np.sqrt(2 * (1 - correlation_threshold))
    clusters = fcluster(linkage_matrix, distance_threshold, criterion='distance')
    
    # 5. Find largest cluster
    cluster_labels, counts = np.unique(clusters, return_counts=True)
    largest_cluster_id = cluster_labels[np.argmax(counts)]
    
    # 6. Get tickers in the largest cluster
    correlated_tickers = close_prices.columns[clusters == largest_cluster_id].tolist()
    
    return correlated_tickers

In [39]:
correlated_group = find_correlated_group(closePriceDf, correlation_threshold=0.8)
correlated_group

/tmp/ipykernel_40001/738397474.py:19: ClusterWarning: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  linkage_matrix = linkage(distance_matrix, 'average')

['BSX', 'HWM']